### Node / Yarn ###
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

### IntelliJ ###
.idea
*.iml

### Sass ###
.sass-cache
*.css.map

### Project specifics ###
dist
