$padding: 10px;
$key_size: 60px;
$key_color: white;
$selector_size: $key_size + 4;
$selector_border_size: 5px;
$real_selector_size: $selector_size + 2*$selector_border_size;
$size: $key_size * 6 + $padding * 2 + $selector_border_size * 2;
$orbit_radius: 250%;
$helper_spacing: 10px;
$background_color: white;
$board_color: #f0f0f0;
$left_color: #4CAF50;
$up_color: #FF5252;
$right_color: #2196F3;
$down_color: #FFC107;

@mixin key($direction:"") {
  @if ($direction == "left") {
    border-color: $left_color;
    color: $left_color;
    content: "\2190";
  } @else if ($direction == "up") {
    border-color: $up_color;
    color: $up_color;
    content: "\2191";
  }  @else if ($direction == "right") {
    border-color: $right_color;
    color: $right_color;
    content: "\2192";
  }  @else if ($direction == "down") {
    border-color: $down_color;
    color: $down_color;
    content: "\2193";
  } @else {
    border-color: transparent;
  }

  position: absolute;
  font-family: monospace;
  font-size: $key_size * 0.7;
  text-align: center;
  display: block;
  width: $key_size - 6px;
  height: $key_size - 6px;
  transform-origin: 50% 50%;
  line-height: $key_size - 6px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px 3px 4px 3px;

}

body {
  font-family: monospace;
  text-align: center;
  background-color: $background_color;
  padding-top: 20px;
}

.container {
  width: $size - 2*$padding;
  background-color: $board_color;
  border-radius: 5px;
  height: $size - 2*$padding;
  padding: $padding;
  position: relative;
  margin: 0 auto 10px auto;

  .key-selector-container {

    &.hide {
      animation: fadeout 1s 1;
      opacity: 0;
    }

    &.show {
      animation: fadein 1s 1;
      opacity: 1;
    }

    .key-selector {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: $selector_size;
      border-radius: 5px;
      height: $selector_size;
      opacity: 0;

      border-width: $selector_border_size;
      border-style: dashed;
      border-left-color: $left_color;
      border-top-color: $up_color;
      border-right-color: $right_color;
      border-bottom-color: $down_color;

      &.show {
        opacity: 1;
      }

      &.fade {
        animation: fadein 1s;
        transform-origin: 50% 0;
      }

      &.bump {
        animation: selector-bump 0.25s 1 ease-in-out;
      }

      &.bad {
        animation: selector-bad 0.2s 1 linear;
      }

      &::after {
        margin: 5px;
        background-color: $board_color;
        opacity: 0.8;
      }

      &.s-key-left::after {
        @include key("left");
        border: none;
      }
      &.s-key-up::after {
        @include key("up");
        border: none;
      }
      &.s-key-right::after {
        @include key("right");
        border: none;
      }
      &.s-key-down::after {
        @include key("down");
        border: none;
      }
    }
  }

  .key {
    position: absolute;
    margin: (($selector_size - $key_size) / 2) auto;
    left: 0;
    right: 0;
    width: $key_size;
    height: $key_size;
    animation: orbit 2s 1 linear;
    opacity: 0;
    top: $padding + $selector_border_size;

    &.paused, &.remove::after {
      animation-play-state: paused;
    }

    &.hide::after {
      animation: fadeout 1s 1;
      opacity: 0;
    }

    &.key-left::after {
      @include key("left");
    }

    &.key-up::after {
      @include key("up");
    }

    &.key-right::after {
      @include key("right");
    }

    &.key-down::after {
      @include key("down");
    }

    &::after {
      background-color: $key_color;
    }
  }

  .level-message {
    position: absolute;
    left: 0;
    top: 0;
    line-height: $size;
    width: $size;
    height: $size;
    font-size: 17px;
    opacity: 0;

    &.show {
      animation: reversedfadein 1s;
    }
  }

  .helper-container {
    position: absolute;
    bottom: (2 * $key_size + $helper_spacing*5);
    left: 0;
    right: 0;
    width: $size;
    margin: 0 auto;

    &.hide {
      animation: fadeout 1s;
      opacity: 0;
    }

    .text {
      position: absolute;
      left: 0;
      right: 0;
      top: $key_size * 2 + $helper_spacing * 2;
      width: $size*0.75;
      margin: 0 auto;
      font-size: 14pt;
      color: rgba(black, 0.7);
    }

    .key {
      top: 0;
      opacity: 1;
      animation: none;

      &::after {
        animation: lowbump 0.8s infinite ease-out;
      }

      &.key-left::after {
        top: $key_size + $helper_spacing;
        right: $key_size + $helper_spacing;
      }
      &.key-up::after {
        top: 0;
      }
      &.key-down::after {
        top: $key_size + $helper_spacing;
      }
      &.key-right::after {
        top: $key_size + $helper_spacing;
        right: 0;
        left: $key_size + $helper_spacing;
      }
    }
  }

  .results {
    position: absolute;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.05);
    border-radius: 5px;
    opacity: 0;

    &.show {
      animation: lowfadeinwithdelay 1.8s ease-in-out;
      opacity: 1;
    }

    &.hide {
      animation: fadeout 0.8s ease-in-out;
      opacity: 0;
    }

    .results-container {
      display: table-cell;
      vertical-align: middle;

      .results-content {
        margin-left: auto;
        margin-right: auto;

        p {
          animation: lowbump 0.8s infinite ease-out;
        }
      }
    }
  }
}

.total {
  position: absolute;
  width: $size;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  .percent {
    height: 6px;
    margin: 0 auto;
    transition: width 0.2s ease-in-out, background-color 0.2s linear;
    background-color: rgb(0, 219, 0);
    border-radius: 5px;

    &.medium {
      background-color: rgb(255, 208, 0);
    }

    &.low {
      background-color: rgb(255, 57, 45);
    }
  }
}

.points-container {
  width: $size + 2*$padding;
  text-align: center;
  font-family: monospace;
  margin: 0 auto 20px auto;
  .bump {
    animation: bump 0.3s 1 ease-in-out;
  }

  &.hide {
    animation: fadeout 0.5s ease-out;
    opacity: 0;
  }

  &.show {
    animation: fadein 0.5s ease-out;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes reversedfadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes lowfadeinwithdelay {
  0% {
    opacity: 0;
  }
  40% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes orbit {
  0% {
    transform: translateY($orbit_radius) rotate(0deg) translateY(-$orbit_radius) rotate(0deg) scale(0.7);
  }
  20% {
    opacity: 1;
  }
  95% {
    opacity: 1;
    transform: translateY($orbit_radius) rotate(-360deg) translateY(-$orbit_radius) rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY($orbit_radius) rotate(-360deg) translateY(-$orbit_radius) rotate(360deg) scale(0.7);
  }
}

@keyframes lowbump {
  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes bump {
  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes selector-bump {
  0% {
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes selector-bad {
  0% {
    background-color: rgba(0, 255, 0, 0);
  }

  50% {
    background-color: rgba(255, 0, 0, 0.2);
    transform: scale(0.95) rotate(1deg);
  }

  100% {
    background-color: rgba(0, 255, 0, 0);
    transform: scale(1);
  }
}

.key-selector .ding {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: monospace;
  font-size: 15pt;
  animation: ding 0.5s 1 ease-out;
  opacity: 0;
  text-shadow: 3px 0 0 white, 0 -3px 0 white, 0 3px 0 white, -3px 0 0 white;
}

@keyframes ding {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}